:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.default {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #414141;
    text-align: center;
    cursor: pointer;
    transition: border 0.4s ease;
}

.selected {
    border: 1px solid blue;
}

.correct {
    border: 1px solid #66cc99;
    animation: dissapear 0.4s ease 1s forwards;
}

.wrong {
    border: 1px solid red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    width: fit-content;
    width: 100%;
}

@keyframes dissapear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.congratulations {
    position: absolute;
    top: 10%;
    left: 50%;
    translate: -50% -50%;
    font-size: 4rem;
    display: none;
}

.endGame {
    display: block !important;
}
